@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tiptap.ProseMirror:focus-visible,
.tiptap.ProseMirror:focus-within{
  outline: none;
}
.tiptab-document h1, .tiptap h1{ @apply text-5xl }
.tiptab-document h2, .tiptap h2{ @apply text-4xl }
.tiptab-document h3, .tiptap h3{ @apply text-3xl }
.tiptab-document h4, .tiptap h4{ @apply text-2xl }
.tiptab-document h5, .tiptap h5{ @apply text-xl }
.tiptab-document h6, .tiptap h6{ @apply text-lg }
.tiptab-document ol, .tiptap ol{ @apply list-decimal list-outside mx-4}
.tiptab-document ul, .tiptap ul{ @apply list-disc list-outside mx-4}